<!DOCTYPE html>
<html ng-app="campus-360">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <!-- AngularJS -->
    <script src="node_modules/angular/angular.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- JavaScript -->
    <script src="js/app.js"></script>
</head>

<body ng-controller="dashboardcontroller">

    <input type="text" ng-model="collegename">
    <br><br>

    <input type="text" ng-model="totalStudents">
    <br><br>
    <button ng-click="addStudent()">Add Student</button>

    <br><br>

    <input type="text" ng-model="totalFaculty">
    <br><br>
    <button ng-click="addFaculty()">Add Faculty</button>

    <br><br>

    <h1>{{collegename}}</h1>

    <p ng-class="{
        'green': totalStudents >= 1000,
        'red': totalStudents < 1000
    }">
        Total Students : {{totalStudents}}
    </p>

    <p class="blue">
        Total Faculty : {{totalFaculty}}
    </p>

    <h2>Student List</h2>

    <button ng-click="showStudents = !showStudents">
        Show / Hide Students
    </button>

    <br><br>

    <button ng-click="showDashboard = !showDashboard">
        Show / Hide Dashboard
    </button>

    <br><br>

    <div ng-if="showDashboard">

        <ul ng-show="showStudents">
            <li ng-repeat="student in students">
                {{student}}
            </li>
        </ul>

    </div>

</body>

</html>